<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/times-new-roman" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/youtube2mp3icon.png" type="image/x-icon" >
    <title>YT2MP3 Magic</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9VYKQ8W52L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9VYKQ8W52L');
</script>
<body>
    <div class="top-container">
        <form action="/convert-mp3" method = "POST" id="form">
            <p>by   <a href="https://www.linkedin.com/in/sarthak-sundriyal-b622b022a/">sarthakvs</p></a>
            <h1><i class="fa-brands fa-youtube"></i>Youtube to MP3 Magic</h1>
            <h4>Enter Video url</h4>
            <div>
                <input type="text" name="url" placeholder="Video goes here"><button type="submit" id="convert-btn">Download!</button>
            </div>
            <div>
                <p><b> New website with MP4-download and many other options coming soon.😊 Stay tuned! Also wait a few seconds File will get downloaded automatically on your device.(No more redirects)</b> </p>
            </div>
        </form>
    </div>

</body>
</html>